
  main {

    display: grid;
    grid-template-areas:  
                          "hero"
                          "highlight"
                          "testimonial"
                          "about";
  
    grid-template-rows: 640px 768px 576px 576px;
    grid-template-columns: 100vw;

    /* margin: 0 auto; */
    justify-content: center;
    border: 1px red dashed;
  
  }


  footer {

    height: 384px;
   
  }
  
  header {
    height: 128px;
  }

  footer, header{
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* flex-direction: column; */
    width: 100%;
  }


  section{

    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
  

  }


  