html{
  box-sizing: border-box;
  /* background-color: #1e1e1e; */
}

*,*::before, *::after {

  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {

  margin: 0 auto;
  /* background-color: #f0f0f0; */
/* border: 10px solid rgb(84, 208, 12); */
  font-family: 'Karla', sans-serif;
  font-size: 1.3331rem;
  width: 100%;
}